<div class="container">
  <h1 class="border-bottom pb-2 mt-5 ml-3"><%= "#{@kid.first_name} #{@kid.last_name}'s Information" %></h1>
  <div class="row justify-content-between">
    <div class="col-lg-7 col-12 mt-5 dictionary-card white-card text-center">
      <h3><%= "#{@kid.first_name}'s Dictionary" %></h3>
      <% if @dictionary = [] %>
        <p>No words in this dictionary yet.</p>
      <% else %>
        <%= @dictionary.words %>
      <% end %>
      <%# need help %>
      <form class="input-group mb-3" accept-charset="UTF-8" action="add" method="post">
        <input type="text" placeholder="Add a word to block" class="form-control" name="word">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button">Add</button>
        </div>
      </form>


    </div>
    <div class="stats-card white-card mt-5 col-lg-4 col-12 text-center">
      <h3><%= "#{@kid.first_name} #{@kid.last_name}" %></h3>
      <p>Devices: Macbook Pro, Iphone S</p>
      <%= link_to "Update #{@kid.first_name}'s Details", edit_kid_path, class: "btn btn-outline-primary mt-3" %>
    </div>
  </div>
  <%= link_to "Back to Dashboard", dashboards_path, class: "btn btn-primary" %>
</div>
