<div class="container">
  <h1 class="border-bottom pb-2 mt-5 ml-3"><%= "#{@kid.first_name} #{@kid.last_name}'s Information" %></h1>
  <div class="row justify-content-around">
    <div class="col-lg-7 col-12 mt-5 dictionary-card white-card text-center">
      <h3><%= "#{@kid.first_name}'s Blocked Word List" %></h3>
      <% if @dictionary.words.empty? %>
        <p>No blocked words yet.</p>
      <% else %>
        <% @words.each do |word| %>
        <li class="word-list"><%= word %>
          <%= link_to 'x', remove_word_path(@kid, word), method: :delete, class: "remove-word" %>
        </li>
        <% end %>
      <% end %>
      <%= form_with url: add_word_path, method: :post, class: "input-group mb-3 mt-4" do |form| %>
        <%= form.text_field :word, placeholder: "Add a word to block", class: "form-control" %>
        <%= form.submit "Add", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
    <div class="white-card mt-5 col-lg-4 col-12 text-center">
      <h3><%= "#{@kid.first_name}'s Detail's" %></h3>
      <p>Devices: Macbook Pro, Iphone S</p>
      <%= link_to "Update #{@kid.first_name}'s Details", edit_kid_path(@kid), class: "btn btn-outline-primary mt-3 mb-3", data: {toggle: "modal", target: "#editKidModal"} %>
    </div>
    <div class="white-card">
      <p>Amount of scanned tweets</p>
      <%= line_chart Statistic.group_by_day(:created_at).count %>
    </div>
    <div class="white-card">
      <p>Amount of blocked tweets</p>
      <%= pie_chart Statistic.where(tone: %i[4 5 6]).group(:tone).count %>
    </div>
    <div class="white-card">
      <p>Types of scanned tweets</p>
      <%= pie_chart Statistic.group(:tone).count %>
    </div>
  </div>
  <%= link_to "Back to Dashboard", dashboards_path, class: "btn btn-white btn-animate position-absolute mb-5"  %>
</div>















<!-- Modal -->
<div class="modal fade" id="editKidModal" tabindex="-1" role="dialog" aria-labelledby="editKidModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'kids/edit', kid: @kid %>
      </div>
    </div>
  </div>
</div>
