<div class="container">
  <% mytime = Date.today %>
  <h1 class="text-center m-3">Popular Articles for <%= mytime.strftime("%B #{mytime.day.ordinalize} %Y") %></h1>
  <div class="row justify-content-center">
  <%# might be nice to make a tabs thing here to search by topic etc %>
    <div class="articles col-lg-6 col-md-8 col-12">
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <div class="article-card d-flex">
            <div class="article-card-info ml-2 mt-1">
              <h3><%=  article.title %></h3>
              <p><em>By <%= article.author %></em></p>
              <%= article.content.truncate(80, omission: ' ... (continued)') %>
            </div>
            <img src="https://images.unsplash.com/photo-1644561219849-1f91f0d19852?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" alt="">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
