<%= render 'shared/sidebar'%>
<div class="container dash-cont my-5">
  <div class="row justify-content-center">
    <h1 class="text-center my-5 article-title" style="width: 80%"><%= @article.title %></h1>
    <div class="col-12 col-md-8 article">
      <div class="d-flex mb-3">
        <div class="d-flex align-items-center">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/gazwai", class: "avatar-large", alt: "avatar" %>
        </div>
        <div class="mx-3 align-items-center">
          <p><em><%= @article.author %></em></p>
          <p><%= @article.date.strftime("%b %d, %Y") %></p>
        </div>
      </div>
      <p class="article-content"><%= @article.content %></p>
    </div>
  </div>
  <%= link_to 'Back to Articles', articles_path, class: '"btn btn-white btn-animate position-absolute' %>
</div>
