<%= render 'shared/sidebar'%>
<div class="container dash-cont my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 article">
    <h1 class="my-5 article-title" style="width: 80%"><%= @article.title %></h1>
      <div class="d-flex mb-3">
        <div class="d-flex align-items-center">
        </div>
        <div class="align-items-center article-info">
          <p><em><%= @article.author %></em></p>
          <p><%= @article.date.strftime("%b %d, %Y") %></p>
        </div>
      </div>
      <div class="article-content">
        <%= simple_format(@article.content) %>
      </div>
    </div>
  </div>
</div>
