  <div class="sidebar">
    <%# <img src="/image/chirpylogo.jpeg" alt="chirpy logo"> %>
    <%# logo path not working? %>
    <%= link_to root_path do%>
      <h2>Chirpy</h2>
    <% end %>

    <%= link_to dashboards_path, :class => ["nav-link", current_class?(dashboards_path)] do %>
      <p class="m-0"><i class="fa fa-solid fa-house-user mr-2"></i>Dashboard</p>
    <% end %>
    <%= link_to articles_path, :class => ["nav-link", current_class?(articles_path)] do %>
      <p class="m-0"><i class="fa fa-solid fa-newspaper mr-2"></i>Articles</p>
    <% end %>
    <%= link_to pages_support_path, :class => ["nav-link", current_class?(pages_support_path)] do %>
      <p class="m-0"><i class="fa fa-solid fa-headset mr-2"></i>Support</p>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
      <p class="m-0"><i class="fa fa-light fa-arrow-right mr-2"></i>Sign Out</p>
    <% end %>
    </div>
