<section id="banner">
  <%# <%= image_tag('logo.png') %>

  <div class="banner-text">
    <h1>Chirpy.</h1>
    <p>Towards a more positive future, together.</p>
    <div class="banner-btn">
      <% if user_signed_in? %>
        <%= link_to 'Dashboard', dashboards_path, class: "btn btn-white btn-animate" %>
        <%# would be nice to use the chirpy icon maybe here? instead of a button? %>
      <%  else %>
        <%= link_to 'Log In', new_user_session_path, class: "btn btn-white btn-animate" %>
      <% end %>
      <%# <a href="#" class="btn btn-white btn-animate">Start Here</a> %>
    </div>
  </div>
</section>

<%# <div class="sideNav">
  <nav>
    <ul>
      <li><a href=""></a>HOME</li>
      <li><a href=""></a>DASHBOARD</li>
    </ul>
  </nav>
</div>

<div class="menuBtn">
  <img src="app/assets/images/menu.png" alt="" id="menu">
</div> %>

<%# features %>
<section id="what-we-do">
  <div class="title-text">
    <h1>WHAT ARE WE ABOUT AT CHIRPY?</h1>
  </div>
  <div class="feature-box">
    <div class="features-img">
      <img src="https://media.istockphoto.com/vectors/young-mother-holding-a-baby-vector-id1328456877?k=20&m=1328456877&s=612x612&w=0&h=UF841OHNrD2MogZD0hJIYzsWAIL8auLEmRXfS_Xdb4w=" alt="">
    </div>
    <div class="features">
      <div class="features-description">
      <%# <div class="feature-icon">
        <i class="fa fa-solid fa-hand-holding-heart"></i>
      </div> %>
      <div class="feature-text">
        <p>The Chirpy extension provides you with piece of mind and protection at the click of a button.</p>
        <p>Using technology developed by the brilliant minds at IBM we can automatically remove harmful content without your child ever even having to see it.</p>
        <p>And, if you want to take it a step further you are able to input your own custom list of topics you want to remove from the web in our 'Dictionary' tab.</p>
        <p>Learn about your kids, use our article system to get up to date with what the kids are going through these days.</p>

        <div class="banner-btn">
          <p class="text-center pb-1">Download Chirpy today, and make a positive change!</p>
          <%= link_to 'Download Now!', dashboards_path, class: "btn btn-white btn-animate" %>
        </div>

      </div>
    </div>
  </div>
</section>


<section id="feature">
  <div class="title-text">
    <h1>WHY CHOOSE CHIRPY?</h1>
    <%# <h1>Why use Chirpy?</h1> %>
  </div>
  <div class="feature-box">
    <div class="features-img">
      <img src="https://media.istockphoto.com/vectors/young-mother-holding-a-baby-vector-id1328456877?k=20&m=1328456877&s=612x612&w=0&h=UF841OHNrD2MogZD0hJIYzsWAIL8auLEmRXfS_Xdb4w=" alt="">
    </div>
    <div class="features">
      <h2>Complete Customization.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p>No need to stress. You can have total control over what your child can see while browsing the web.</p>
        </div>
      </div>
      <h2>Non-invasive Design.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p>Protect those who are important to you without making a big deal about it. We use a Chrome extention to do all the work, behind the scenes.</p>
        </div>
      </div>
      <h2>Simple as Cake.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p>At just the press of a button, Chirpy works to remove harmful content that children shouldn't be exposed to.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature">
  <div class="title-text">
    <h1>WHAT DO OUR USERS THINK?</h1>
    <%# <h1>Why use Chirpy?</h1> %>
  </div>
  <div class="feature-box">
    <div class="features">
      <h2>Keiran - Melbourne, Australia.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p><i>"Since starting to use Chirpy, I never feel the need to be paranoid about what my kids see online."</i></p>
        </div>
      </div>
      <h2>Megumi - Saitama, Japan.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p><i>"The internet is very different to when I was young, so I want my kids to be safe when they are surfing the web."</i></p>
        </div>
      </div>
      <h2>Steven - New York, United States.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p><i>"I feel more confident to talk to my kids about recent trends online, all because of Chirpy."</i></p>
        </div>
      </div>
    </div>
    <div class="features-img">
      <img src="https://media.istockphoto.com/vectors/young-mother-holding-a-baby-vector-id1328456862?k=20&m=1328456862&s=612x612&w=0&h=bD8Ph8Hvzk04UCb9iIA2Cdjjp1AXknJU-9AmfEjVHPw=" alt="">
    </div>
  </div>
</section>

  <%= render 'shared/footer' %>
