<section id="banner">
  <%# <%= image_tag('logo.png') %>

  <div class="banner-text">
    <h1>Chirpy.</h1>
    <p>Towards a more positive future, together.</p>
    <div class="banner-btn">
      <% if user_signed_in? %>
        <%= link_to 'Dashboard', dashboards_path, class: "btn btn-white btn-animate" %>
        <%# would be nice to use the chirpy icon maybe here? instead of a button? %>
      <%  else %>
        <%= link_to 'Log In', new_user_session_path, class: "btn btn-white btn-animate" %>
      <% end %>
      <%# <a href="#" class="btn btn-white btn-animate">Start Here</a> %>
    </div>
  </div>
</section>

<%# <div class="sideNav">
  <nav>
    <ul>
      <li><a href=""></a>HOME</li>
      <li><a href=""></a>DASHBOARD</li>
    </ul>
  </nav>
</div>

<div class="menuBtn">
  <img src="app/assets/images/menu.png" alt="" id="menu">
</div> %>

<%# features %>
<section id="feature">
  <div class="title-text">
    <h1>WHAT'S CHIRPY ALL ABOUT?</h1>
    <%# <h1>Why use Chirpy?</h1> %>
  </div>
  <div class="feature-box">
    <div class="features">
    <h2>We Care.</h2>
      <div class="features-description">
        <div class="feature-text">
          <p>At Chirpy we know that the internet can have a negative effect on the youth of today, and we are passionate about making it a safer space for your kids.</p>
        </div>
      </div>
      <h2>Communication is Key.</h2>
      <div class="features-description">
        <div class="feature-text">
          <p>We get that it's not always easy to approach your kids about their issues, and we are striving to make that easier for all.</p>
        </div>
      </div>
      <h2>Here to Help.</h2>
      <div class="features-description">
        <div class="feature-text">
          <p>We totally get that the internet can feel like a big, scary place at times. We want to help make it smooth and as stress free as possible..</p>
        </div>
      </div>
      <div class="download-btn">
        <p class="feature-text">So what are you waiting for? Download Chirpy today, and make a positive change!</p>
        <%=link_to 'Download Now!', dashboards_path,class: "btn btn-pink btn-animate"%>
      </div>
    </div>
    <div class="features-img">
      <img src="https://images.unsplash.com/photo-1552130633-955831ed0a13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
    </div>
  </div>
</section>


<section id="feature">
  <div class="title-text">
    <h1>WHY CHOOSE CHIRPY?</h1>
    <%# <h1>Why use Chirpy?</h1> %>
  </div>
  <div class="feature-box">
    <div class="features-img">
      <img src="https://images.unsplash.com/photo-1643818656778-714d7ba6b420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZmFtaWx5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
    <div class="features">
      <h2>Complete Customization.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p>No need to stress. You can have total control over what your child can see while browsing the web.</p>
        </div>
      </div>
      <h2>Non-invasive Design.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p>Protect those who are important to you without making a big deal about it. We use a Chrome extension to do all the work, behind the scenes.</p>
        </div>
      </div>
      <h2>Simple as Cake.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p>At just the press of a button, Chirpy works to remove harmful content that children shouldn't be exposed to.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature">
  <div class="title-text">
    <h1>WHAT DO OUR USERS THINK?</h1>
    <%# <h1>Why use Chirpy?</h1> %>
  </div>
  <div class="feature-box">
    <div class="features">
      <h2>Keiran - Melbourne, Australia.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p><i>"Since starting to use Chirpy, I never feel the need to be paranoid about what my kids see online."</i></p>
        </div>
      </div>
      <h2>Megumi - Saitama, Japan.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p><i>"The internet is very different to when I was young, so I want my kids to be safe when they are surfing the web."</i></p>
        </div>
      </div>
      <h2>Steven - New York, United States.</h2>
      <div class="features-description">
        <%# <div class="feature-icon">
          <i class="fa fa-solid fa-hand-holding-heart"></i>
        </div> %>
        <div class="feature-text">
          <p><i>"I feel more confident to talk to my kids about recent trends online, all because of Chirpy."</i></p>
        </div>
      </div>
    </div>
    <div class="features-img">
      <img src="https://images.unsplash.com/photo-1640622302099-f10b18de7b16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZhbWlseSUyMGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
  </div>
</section>

  <%= render 'shared/footer' %>
