<%= render 'shared/sidebar'%>
<div class="dash-cont my-3">
  <div class="row justify-content-center">
    <h1 class="text-center my-5" style="width: 80%">Please get in touch and our expert support team will answer all your questions.</h1>
    <div class="col-12 col-sm-10 col-md-12 col-lg-10 col-xl-8">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h3 class="card-title text-center">Meet our brilliant and knowledgeable support team!</h3>
          <p class="card-text text-center">Live support is available Mon-Fri 8am-7pm JST.</p>
        </div>
        <div class="d-flex pb-1">
          <div>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/KeiranBrown1301", class: "img-fluid p-2", style: "border-radius: 50%", alt: "avatar" %>
            <p class="card-text text-center"><small class="text-muted">Keiran Brown</small></p>
          </div>
          <div>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/angrysun", class: "img-fluid p-2", style: "border-radius: 50%", alt: "avatar" %>
            <p class="card-text text-center"><small class="text-muted">Steven Vasquez</small></p>
          </div>
          <div>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/CamillieFu", class: "img-fluid p-2", style: "border-radius: 50%", alt: "avatar" %>
            <p class="card-text text-center"><small class="text-muted">Camille Fujisaki</small></p>
          </div>
          <div>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/gazwai", class: "img-fluid p-2", style: "border-radius: 50%", alt: "avatar" %>
            <p class="card-text text-center"><small class="text-muted">Gary Yau</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-md-12 col-lg-10 col-xl-8">
      <%= render 'pages/support_form'%>
    </div>
  </div>
</div>
