<% if current_user.photo.attached? %>
  <%= cl_image_tag current_user.photo.key, height: 150, width: 150, crop: :fill, class: "profile-card-inner" %>
  <p><%= "#{current_user.first_name} #{current_user.last_name}" %>
  <p><%= "#{current_user.email}"%></p>
  <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn btn-outline-primary" %>
<% else %>
  <p><i class="fa fa-duotone fa-user"></i></p>
  <p><%= "#{current_user.first_name} #{current_user.last_name}" %>
  <p><%= "#{current_user.email}"%></p>
  <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn btn-outline-primary" %>
<% end %>
